body {
  margin: 0;
}

main {
  z-index: 1;
  padding: 4em 0;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 150px;
  height: 50px;
  color: #fff;
  margin-left: 2em;
  outline: none;
  cursor: pointer;
}

.signup {
  background-color: orange;
}

.login {
  background-color: green;
}

/* ここからコーディング  */
.modal__wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(105, 105, 105, 0.5);
  /* 透明度の変化が起こった後に見えなくする */
  transition: opacity 1s, visibility 0s ease 1s;
  opacity: 0;
  visibility: hidden;
}

.modal__wrapper.is_open {
  /* 視覚化を即座に実行することで透明度の変化を見ることが出来る */
  transition-delay: 0s; 
  opacity: 1; 
  visibility: visible;
}

.modal__menu {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 2em 0;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}

.close {
  position: absolute;
  top: 0;
  right: 0.5em;
  cursor: pointer;
}

.modal__menu > input {
  display: block;
  width: 80%;
  margin: 2em auto 0;
  padding: 1em 0.5em;
}